.layout-fiche-logement {
  width: auto;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  padding: 40px;
  font-family: "Montserrat", sans-serif;

  @media screen and (max-width: 1024px) {
    padding: 30px 20px;
    gap: 23px;
  }

  @media screen and (max-width: 768px) {
    padding: 20px 0px;
    gap: 25px;
  }

  @media screen and (max-width: 375px) {
    padding: 10px;
    gap: 15px;
  }
}

.layout-fiche-logement .carousel {
  aspect-ratio: 16/6;

  @media screen and (max-width: 1024px) {
    aspect-ratio: 16/8;
  }

  @media screen and (max-width: 768px) {
    aspect-ratio: 16/9;
  }

  @media screen and (max-width: 500px) {
    aspect-ratio: 4/3;
  }

  @media screen and (max-width: 375px) {
    aspect-ratio: 4/3;
  }
}

.layout-fiche-logement .tags {
  display: flex;
  align-items: end;
}

.layout-fiche-logement .tags .tag {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  flex-wrap: nowrap;

  @media screen and (max-width: 1024px) {
    font-size: 12px;
    font-weight: 600;
    padding: 0 1em;
  }

  @media screen and (max-width: 375px) {
    font-size: 10px;
    font-weight: 500;
    padding: 0 1em;
  }
}

.layout-fiche-logement .rating {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.layout-fiche-logement .collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 2em;

  @media screen and (max-width: 1024px) {
    gap: 1em;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 1em;
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
    gap: 1em;
  }
  @media screen and (max-width: 375px) {
    flex-direction: column;
    gap: 1em;
  }
}

.layout-fiche-logement h1 {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 1024px) {
    font-size: 26px;
    font-weight: 500;
  }

  @media screen and (max-width: 768px) {
    font-size: 26px;
    font-weight: 500;
  }

  @media screen and (max-width: 375px) {
    font-size: 18px;
    font-weight: 500;
  }
}

.layout-fiche-logement .location {
  font-size: 18px;
  font-weight: 500;
  color: black;
  // padding-bottom: 0.5em;

  @media screen and (max-width: 1024px) {
    font-size: 16px;
    font-weight: 500;
  }
  @media screen and (max-width: 768px) {
    font-size: 16px;
    font-weight: 500;
  }

  @media screen and (max-width: 375px) {
    font-size: 14px;
    font-weight: 500;
  }
}

.layout-fiche-logement .container-0 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  padding: 0;
  flex-wrap: wrap;
  align-items: flex-start;

  @media (max-width: 1024px) {
    flex-direction: row;
  }

  @media (max-width: 375px) {
    flex-direction: column;
  }
}

.layout-fiche-logement div.container-info {
  height: fit-content;
}

.layout-fiche-logement .title-location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5em;

  @media screen and (max-width: 768px) {
    gap: 0.8em;
  }

  @media screen and (max-width: 375px) {
    gap: 0.5em;
  }
}

.layout-fiche-logement p.location {
  padding: 0;
  margin: 0;
}

.layout-fiche-logement .tag-host-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.layout-fiche-logement .host {
  width: auto;
}

.layout-fiche-logement .host-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  width: auto;
  gap: 1em;
  @media screen and (max-width: 1024px) {
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
  }

  @media screen and (max-width: 768px) {
    font-size: 14px;
    font-weight: 500;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  @media screen and (max-width: 500px) {
    font-size: 12px;
    font-weight: 500;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  @media screen and (max-width: 375px) {
    font-size: 12px;
    font-weight: 500;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
}

.layout-fiche-logement .equip-list {
  list-style: none;
  padding: 1em 0;
  margin: 0;
}

.layout-fiche-logement .equip-list li {
  padding: 2px 0;
}
