.rating {
  display: flex;
  gap: 20px;
  align-items: center;
}

.star-icon {
  height: 36px;

  @media screen and (max-width: 1240px) {
    height: 28px;
  }

  @media screen and (max-width: 1024px) {
    height: 22px;
  }

  @media screen and (max-width: 768px) {
    height: 20px;
  }

  @media screen and (max-width: 375px) {
    height: 18px;
  }
}

.star-icon.full path {
  fill: #ff6060;
}

.star-icon.empty {
  fill: #e3e3e3;
}
