.hero-content {
  width: auto;
  max-width: 1440px;
  height: auto;
  // min-height: 150px;
  object-fit: contain;
  overflow: hidden;
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  padding: 1em;

  //  Tablette
  @media screen and (max-width: 1024px) {
    font-size: 36px;
    font-weight: 700;
    border-radius: 17.5px;
    padding: 1em;
  }

  @media screen and (max-width: 768px) {
    font-size: 28px;
    padding: 1em;
  }

  @media screen and (max-width: 500px) {
    padding: 1em;
    font-size: 24px;
  }

  /* Mobile Figma */
  @media screen and (max-width: 375px) {
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    padding: 0.5em;
  }
}
