div {
  max-width: 1440px;
  width: auto;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(246, 246, 246, 1);
  border-radius: 25px;
  padding: 2em;
  gap: 2em;
}

@media screen and (max-width: 1024px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 375px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }
}
