*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.layout-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#root {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    padding: 0 20px;
  }
  @media screen and (max-width: 375px) {
    padding: 0 10px;
  }
}
